* text=auto eol=crlf

.editorconfig text eol=crlf
*.json text eol=crlf
.github/actions/spelling/** text eol=lf
*.winget linguist-language=yaml

*.jpg   binary
*.png   binary
*.webp   binary
*.avif   binary
*.gif   binary
