# Git Configuration
[user]
	name = Ven0m0
	email = ven0m0.wastaken@gmail.com
[core]
	editor = code --wait
	autocrlf = true
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = current
	autoSetupRemote = true
[fetch]
	prune = true
	pruneTags = true
	parallel = 0
[clone]
  filterSubmodules = true
[alias]
	# Shortcuts
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	# Logging
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	last = log -1 HEAD
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	# Diff
	df = diff
	dc = diff --cached
	# Useful commands
	amend = commit --amend --no-edit
	undo = reset --soft HEAD~1
	discard = checkout --
	cleanup = !git branch --merged | grep -v '\\*\\|main\\|master\\|develop' | xargs -n 1 git branch -d
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
	conflictstyle = diff3
[mergetool "vscode"]
	cmd = code --wait $MERGED
# Windows specific
[credential]
	helper = manager-core
# Include local overrides (not tracked by yadm)
[include]
	path = ~/.gitconfig.local
[http]
  version = HTTP/2
  sslVersion = tlsv1.3
  postBuffer = 524288000
[fsck]
  duplicateEntries = true
  gitmodulesSymlink = true
  gitmodulesUpdate = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
  backend = merge
  missingCommitsCheck = true
  abbreviateCommands = true
[maintenance]
  strategy = incremental
[maintenance "prefetch"]
  enabled = true
[maintenance "gc"]
  enabled = true
[maintenance "loose-objects"]
  enabled = true
[maintenance "incremental-repack"]
  enabled = true
[maintenance "pack-refs"]
  enabled = true
[maintenance "reflog-expire"]
  enabled = true
[maintenance "rerere-gc"]
  enabled = true
[maintenance "worktree-prune"]
  enabled = true
[index]
  version = 4
  skipHash = false
[repack]
  useDeltaBaseOffset = true
[gc]
  autoDetach = true
  packRefs = true
  aggressive = false
  auto = 256
