<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cascadia-code-nerd-font" version="2.1.0" />
  <package id="chocolatey" version="2.7.3" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-font-helpers.extension" version="0.0.4" />
  <package id="netfx-4.8.1" version="4.8.1.20250219" />
  <package id="yq" version="4.53.3" />
</packages>
